<%= image_tag 	"catfacts.jpg", 
	      	alt: "CatFacts!", 
		class: "catimage" %>
<div class = "jumbotron  welcomebox">
<h1 class = "startheadtext">CatFacts - MeeWow!</h1>
<p class = "mainsitetext">Welcome to the world leader for facts about our furry feline friends. CatFacts allows you to sign you and your friends up to receive text messages containing fun facts about man's best friend. What are you waiting for? Use the link below to sign up, or sign in to get started learning about cats!</p>
</div>
