// Place all the styles related to the Catfacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

@import 'bootstrap';

.catimage {
  margin-left: auto;
  margin-right: auto;
}

.welcomebox {
  float: center;
  width: 1024px;
}

.startheadtext {
  text-align: center;
}

.mainsitetext {
  text-align: center;
}
